﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Zoo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar" class="sidebar">
			<div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="align-middle">Zoo</span>
                </a>
                <ul class="sidebar-nav" id="sidebar-nav">
                    <hr />
                    <li class="sidebar-header">Animals</li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-area="" asp-controller="Animals" asp-action="Index">
                            <span class="align-middle">Show</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-area="" asp-controller="Animals" asp-action="SpeciesFilter">
                            <span class="align-middle">Search by species</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-area="" asp-controller="Animals" asp-action="GenderFilter">
                            <span class="align-middle">Filter by gender</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-area="" asp-controller="Animals" asp-action="Create">
                            <span class="align-middle">Create</span>
                        </a>
                    </li>
                    <hr />
                    <li class="sidebar-header">Species</li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-area="" asp-controller="Species" asp-action="Index">
                            <span class="align-middle">Show</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-area="" asp-controller="Species" asp-action="FamilyFilter">
                            <span class="align-middle">Search by family</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-area="" asp-controller="Species" asp-action="ContinentFilter">
                            <span class="align-middle">Search by continent</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-area="" asp-controller="Species" asp-action="Create">
                            <span class="align-middle">Create</span>
                        </a>
                    </li>
                </ul>
			</div>
		</nav>
        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </nav>
            <div class="content">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
