@model Zoo.Models.Species

<div class="row">
    <div class="card">
        <div class="card-body">
            <dt class = "col-sm-2"> Name </dt>
            <dd class = "col-sm-10"> @Model!.Name </dd>
            <dt class = "col-sm-2"> Family </dt>
            <dd class = "col-sm-10"> @Model.Family </dd>
            <dt class = "col-sm-2"> Origin continent </dt>
            <dd class = "col-sm-10">@Model.OriginContinent </dd>
            <dt class = "col-sm-2"> Diet </dt>
            <dd class = "col-sm-10"> @Model.Diet </dd>
        </div>
    </div>
</div>