@model IEnumerable<Zoo.Models.Species>


<div class="row">
    <div class="col-12">
        <div class="card flex-fill">
            <table class="table table-hover my-0">
                <thead>
                    <tr>
                        <th> Name </th>
                        <th> Family </th>
                        <th> Origin continent </th>
                        <th> Diet </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var species in Model!) {
                        <tr>
                            <td>
                                @(species.Name)
                            </td>
                            <td>
                                @(@species.Family)
                            </td>
                            <td>
                                @(@species.OriginContinent)
                            </td>
                            <td>
                                @(@species.Diet)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@species.Id"><i class="bi bi-pencil-fill icon"></i></a>
                                <a asp-action="Details" asp-route-id="@species.Id"><i class="bi bi-eye icon"></i></a>
                                <a asp-action="Delete" asp-route-id="@species.Id"><i class="bi bi-trash icon"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>