@model Zoo.Models.Species

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Name</h5>
    </div>
    <div class="card-body">
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Family</h5>
    </div>
    <div class="card-body">
        <input asp-for="Family" class="form-control" />
        <span asp-validation-for="Family" class="text-danger"></span>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Origin continent</h5>
    </div>
    <div class="card-body">
        <input asp-for="OriginContinent" class="form-control" />
        <span asp-validation-for="OriginContinent" class="text-danger"></span>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Diet</h5>
    </div>
    <div class="card-body">
        <select asp-for="Diet" class="form-control">
            <option value="Carnivore">Carnivore</option>
            <option value="Herbivore">Herbivore</option>
        </select>
        <span asp-validation-for="Diet" class="text-danger"></span>
    </div>
</div>
