@model IEnumerable<Zoo.Models.Species>

@{
    ViewData["Title"] = "ContinentFilter";
}

<h1>Search species by continent</h1>
<hr />

<form>
    <input type="text" name="continent">
    <input type="submit" value="Search" class="btn btn-secondary d-inline-block h-100" />
</form>

<br>

<partial name="_SpeciesTable" model="@Model" />