@model Zoo.Models.Species

@{
    ViewData["Title"] = "Details";
}

<h1>@Model!.Name Details</h1>
<hr />
<partial name="_SpeciesDetails" model="@Model"></partial>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</div>
