@model Zoo.Models.Species

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Species</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <partial name="_SpeciesForm" model="@Model"/>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary d-inline-block" />
                <a asp-action="Index" class="btn btn-secondary d-inline-block">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
