@model IEnumerable<Zoo.Models.Species>

@{
    ViewData["Title"] = "FamilyFilter";
}

<h1>Search species by family</h1>
<hr />

<form>
    <input type="text" name="family">
    <input type="submit" value="Search" class="btn btn-secondary d-inline-block h-100" />
</form>

<br>

<partial name="_SpeciesTable" model="@Model" />