@model IEnumerable<Zoo.Models.Species>

@{
    ViewData["Title"] = "Species";
}

<h1>Species</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Add</a>
</p>

<partial name="_SpeciesTable" model="@Model" />
