@model Zoo.Models.Animal

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Name</h5>
    </div>
    <div class="card-body">
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Birthday</h5>
    </div>
    <div class="card-body">
        <input asp-for="Birthday" class="form-control" />
        <span asp-validation-for="Birthday" class="text-danger"></span>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Gender</h5>
    </div>
    <div class="card-body">
        <select asp-for="Gender" class="form-control">
            <option value=0>Male</option>
            <option value=1>Female</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Species</h5>
    </div>
    <div class="card-body">
        <select asp-for="SpeciesId" class ="form-control" asp-items="ViewBag.SpeciesId"></select>
    </div>
</div>
