@model IEnumerable<Zoo.Models.Animal>


<div class="row">
    <div class="col-12">
        <div class="card flex-fill">
            <table class="table table-hover my-0">
                <thead>
                    <tr>
                        <th> Species </th>
                        <th> Name </th>
                        <th> Birth </th>
                        <th> Gender </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var animal in Model!) {
                        <tr>
                            <td>
                                @(animal!.Species!.Name)
                            </td>
                            <td>
                                @(@animal.Name)
                            </td>
                            <td>
                                @(@animal.Birthday)
                            </td>
                            <td>
                            @(animal.Gender == 0 ? "Male" : "Female")
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@animal.Id"><i class="bi bi-pencil-fill icon"></i></a>
                                <a asp-action="Details" asp-route-id="@animal.Id"><i class="bi bi-eye icon"></i></a>
                                <a asp-action="Delete" asp-route-id="@animal.Id"><i class="bi bi-trash icon"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>