@model Zoo.Models.Animal

<div class="row">
    <div class="card">
        <div class="card-body">
            <dt class = "col-sm-2"> Species </dt>
            <dd class = "col-sm-10"> @Model!.Species!.Name </dd>
            <dt class = "col-sm-2"> Name </dt>
            <dd class = "col-sm-10"> @Model.Name </dd>
            <dt class = "col-sm-2"> Birth </dt>
            <dd class = "col-sm-10">@Model.Birthday </dd>
            <dt class = "col-sm-2"> Gender </dt>
            <dd class = "col-sm-10"> @(Model.Gender == 0 ? "Male" : "Female") </dd>
        </div>
    </div>
</div>