@model Zoo.Models.Animal

@{
    ViewData["Title"] = "Create";
}

<h1>Add animal</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="_AnimalForm" model="@Model" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary d-inline-block" />
                <a asp-action="Index" class="btn btn-secondary d-inline-block">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
