@model IEnumerable<Zoo.Models.Animal>

@{
    ViewData["Title"] = "GenderFilter";
}

<h1>Filter animals by gender</h1>
<hr />

<form>
    <select name="gender" class="form-control d-inline-block" style="width: 10%;">
        <option disabled selected> --select gender </option>
        <option value=0 > Male </option>
        <option value=1 > Female </option>
    </select>
    <input type="submit" value="Search" class="btn btn-secondary d-inline-block h-100" />
</form>

<br>

<partial name="_AnimalsTable" model="@Model" />