@model IEnumerable<Zoo.Models.Animal>

@{
    ViewData["Title"] = "Animals";
}

<h1>Animals</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Add</a>
</p>

<partial name="_AnimalsTable" model="@Model" />