@model IEnumerable<Zoo.Models.Animal>

@{
    ViewData["Title"] = "SpeciesFilter";
}

<h1>Search animals by species</h1>
<hr />

<form>
    <input type="text" name="species">
    <input type="submit" value="Search" class="btn btn-secondary d-inline-block h-100" />
</form>

<br>

<partial name="_AnimalsTable" model="@Model" />